h1,
h2,
p {
  text-align: center;
  color: blue; 
  /* i made a change to the text color */
}

p {
  color: blueviolet;
  font-size: 36px;
}

body{
    background-color: slategray;
    /* another change to the background color */
}

div {
  display: flex;
  justify-self: center;
}
